
body {
	background-image: url(8319.png);
	background-size: cover;
	background-repeat: no-repeat;

}



#center {
	justify-content: center;
	text-align: center;

}

#ibdb {
	font-size: 50pt;
	font-family: Impact;
	background: none;
}

a {
	text-decoration: none;
	color: white;
}

.bgvideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -9999;
}


#button button {
	margin: 30pt;

	background: none;
	border: none;
	color: white;
	border-radius: 22px;
	width: 200px;
	height: 200px;
	transition:.5s;
	box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
	font-size: 90px;
}



#button #span {
	font-size: 20px;
	margin: 0;
}

img {
	width: 300px;
	height: 300px;
	 transform: translate(0, 200px);
}
@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {

#button button  {
    -webkit-backdrop-filter: blur(14px);
    backdrop-filter: blur(14px);
    background-color: rgb(0, 0, 0, 0.1);
  }


#button button:hover  {
	cursor: pointer;
	transform: scale(1.2) ;
	box-shadow: 0px 4px 68px 6px rgba(0, 0, 0, 0.2);
}

@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {
	#button button {
	margin: 30pt;
	padding: 30px 30px;
	background: none;
	border: none;
	color: white;
	border-radius: 52px;
	width: 500px;
	height: 500px;
	transition:.5s;
	box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
	font-size: 350px;

}
#button #span {
	font-size:150px;
	margin: 0;
}
img {
	width:550px;
	height: 550px;
	 transform: translate(0, 700px);
}
}
